<div style="width:400px;">
    {{!--<h1>Welcome Joker {{username}}!</h1>

    <h3>RANDOM JOKE COUNT: {{count}}</h3>--}}
    
      <br><a href="api/joke/random">Show random Joke </a>
      <br><a href="api/jokes">Show all Jokes </a>
      <br><a href="api/joke">Add new joke </a>
      <br><i>Please use postman to check find, delete and update. Thanks! :)</i>
    </div>
      